interactions:
- request:
    body: !!python/unicode __LASTFOCUS=&__EVENTTARGET=&__EVENTARGUMENT=&__VIEWSTATE=%2FwEPDwUKMTY5MDMxMTI0OA9kFgICAw9kFgICAQ8WAh4JaW5uZXJodG1sBRxWZXJzaW9uIDguMCwgdnIgMjcgamFuIDE1OjQ2ZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WBgUJU2hvd0RlYnVnBQ1Db3ZlcmFnZUNoZWNrBQZDb3BwZXIFBkNvcHBlcgUFRmliZXIFBUZpYmVyyphjkqH0B45fVqUfXg9FUyEN341Pq8Labz4WJHA49PI%3D&__VIEWSTATEGENERATOR=B1924A1F&__EVENTVALIDATION=%2FwEdAAs1LrfiehpX0b8NOZ2BJKIJ0b0eyTTkjCzPsTg5JLfwZsUDNj5QOq4YEpuBGehHFpvLpniq3TgasFKWFIJhOrFgpXyG7ZhawaLDBAmcXpjCGdbaR3QYIdQewjwBNwryBZ7OhiXSvBN%2F1DSY5Yvzrr7V3Lv5JTeg%2F0NE43xycdCb3A1bcUvBC%2FDjM7XoxZNGXRRmRe0ZQOxzCQEP8H6dXYeVXuK1xQRArSXfG0V278iMTGFyKgY98AwJOY2hzaZAVURbdhzzZmR58wfon6bftSHI&PQCCType=Copper&Postcode=1332AW&HouseNumber=46&Addition=&PhoneNumber=&CheckButton=Check
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      housenumber: ['46']
      housenumber_add: ['']
      postcode: [1332AW]
    method: POST
    uri: https://pqcc.soap.dslorder.nl/pqcc/v8.0/pqcc.aspx
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\"?>\r\n<PqccResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <OriginalRequest
        PostalCode=\"1332AW\" HouseNumber=\"46\" ApplicationName=\"PQCC\" Source=\"84.53.99.126\"
        QueryDate=\"2017-02-10T14:03:16.4482287+01:00\" SharingPhonenumberToValidate=\"\"
        PQCCCheckType=\"Copper\" ConnectionPoint=\"\" />\r\n  <Address PostalCode=\"1332AW\"
        City=\"ALMERE\" HouseNumber=\"46\" Street=\"Bolderweg\">\r\n    <PossibleHouseNumberAdditions>\r\n
        \     <Addition>A</Addition>\r\n      <Addition>B</Addition>\r\n      <Addition>C</Addition>\r\n
        \     <Addition>D</Addition>\r\n      <Addition>E</Addition>\r\n      <Addition>F</Addition>\r\n
        \     <Addition>G</Addition>\r\n      <Addition>H</Addition>\r\n      <Addition>J</Addition>\r\n
        \     <Addition>K</Addition>\r\n      <Addition>M</Addition>\r\n      <Addition>N</Addition>\r\n
        \     <Addition>P</Addition>\r\n      <Addition>Q</Addition>\r\n      <Addition>R</Addition>\r\n
        \     <Addition>S</Addition>\r\n      <Addition>T</Addition>\r\n      <Addition>U</Addition>\r\n
        \     <Addition>V</Addition>\r\n      <Addition>W</Addition>\r\n      <Addition>X</Addition>\r\n
        \     <Addition>Y</Addition>\r\n      <Addition>Z</Addition>\r\n    </PossibleHouseNumberAdditions>\r\n
        \ </Address>\r\n  <Cgb Name=\"Alr-Bw\" LengthLastDistributor=\"826\" NetNumber=\"036\"
        LengthMdf=\"3009\" />\r\n  <DeliverableProducts>\r\n    <DeliverableProduct
        Network=\"Sni-F\" Dlm=\"Sc\" Technology=\"Adsl2_Pots\" CanShare=\"Pots\" OrderableDownKbps=\"20000\"
        ExpectedDownKbps=\"7000\" DistributionPoint=\"Alr-Bw\" AccessArea=\"AA/9\"
        OrderableUpKbps=\"1024\" Tv=\"true\" />\r\n  </DeliverableProducts>\r\n  <ExistingSituation>\r\n
        \   <ExistingSituationCopper carrierstatus=\"O\" carrierVendorid=\"MDF\">\r\n
        \     <Remarks />\r\n    </ExistingSituationCopper>\r\n    <ExistingSituationFiber
        xsi:nil=\"true\" />\r\n    <Remarks>\r\n      <Remark RemarkCode=\"9076\"
        RemarkTextEng=\"No housenumber extension match (both KANVAS or CENDRIS)\"
        RemarkTextNed=\"No housenumber extension match (both KANVAS or CENDRIS)\"
        />\r\n      <Remark RemarkCode=\"9053\" RemarkTextEng=\"Other housenrext exist
        for the given Postcode,Housenr\" RemarkTextNed=\"Other housenrext exist for
        the given Postcode,Housenr\" />\r\n    </Remarks>\r\n  </ExistingSituation>\r\n
        \ <Errors />\r\n  <DistributionPoints />\r\n</PqccResponse>"}
    headers:
      content-disposition: [attachment; filename=PQCC_1332AW46.xml]
      content-type: [text/xml]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:5555/dsl-info?housenumber_add=&housenumber=46&postcode=1332AW
  response:
    body: {string: !!python/unicode '{"City":"ALMERE","v8":{"errors":null,"possible_house_number_additions":["A","B","C","D","E","F","G","H","J","K","M","N","P","Q","R","S","T","U","V","W","X","Y","Z"],"deliverable_product":{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","OrderableDownKbps":"20000","ExpectedDownKbps":"7000","DistributionPoint":"Alr-Bw","AccessArea":"AA/9","OrderableUpKbps":"1024","Tv":"true"},"existing_situation_copper":{"carrierstatus":"O","carrierVendorid":"MDF","Remarks":null},"address":{"PostalCode":"1332AW","City":"ALMERE","HouseNumber":"46","Street":"Bolderweg","PossibleHouseNumberAdditions":{}},"remarks":[{"RemarkCode":"9076","RemarkTextEng":"No
        housenumber extension match (both KANVAS or CENDRIS)","RemarkTextNed":"No
        housenumber extension match (both KANVAS or CENDRIS)"},{"RemarkCode":"9053","RemarkTextEng":"Other
        housenrext exist for the given Postcode,Housenr","RemarkTextNed":"Other housenrext
        exist for the given Postcode,Housenr"}],"existing_situation_fiber":{"xsi:nil":"true"}},"PostalCode":"1332AW","remarks":["No
        housenumber extension match (both KANVAS or CENDRIS)"],"length_last_distributor":"826","name":"Alr-Bw","existing_dsl_service_id":"","HouseNumber_add":"","Street":"Bolderweg","length_mdf":"3009","v8_debug":null,"products":[{"orderable_down":"16001","expected_down":"-","network":"Sni-F","expected_up":"-","orderable_up":"1025","technology":"Adsl2_Pots"},{"orderable_down":"20000","expected_down":"7000","network":"Sni-F","expected_up":"-","orderable_up":"1024","technology":"Adsl2_Pots"}],"HouseNumber":"46"}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
