interactions:
- request:
    body: !!python/unicode '__LASTFOCUS=&__EVENTTARGET=&__EVENTARGUMENT=&__VIEWSTATE=%2FwEPDwULLTExNjY2MDU5OTEPZBYCAgMPZBYCAgEPFgIeCWlubmVyaHRtbAUbVmVyc2lvbiA3LjEsIHdvIDUgb2t0IDEzOjU4ZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WAgUJU2hvd0RlYnVnBRhDaGVja2ZvclVwZ3JhZGVEb3duR3JhZGWHYK0qmCZXLWT%2FpJdACuEEnsgJxFX3GqUfkXgi3jELRQ%3D%3D&__VIEWSTATEGENERATOR=D8B62B3A&__EVENTVALIDATION=%2FwEdAAjZ%2BEZAN1iMGiUhjaUaPiT80b0eyTTkjCzPsTg5JLfwZsUDNj5QOq4YEpuBGehHFpvLpniq3TgasFKWFIJhOrFgpXyG7ZhawaLDBAmcXpjCGc6GJdK8E3%2FUNJjli%2FOuvtX5OTggoMzf3VFIsSmjz3zjXuK1xQRArSXfG0V278iMTDNj9EdnCdp7KCYtRmqJq9tWEb0JeOSuOqS8%2ByW%2BeQfi&Postcode=1319CS&HouseNumber=105&Addition=None&PhoneNumber=&CheckButton=Check'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      housenumber: ['105']
      postcode: [1319CS]
    method: POST
    uri: https://pqcc.soap.dslorder.nl/pqcc/v7.0/pqcc.aspx
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\"?>\r\n<PqccResponse xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        >\r\n  <OriginalRequest PostalCode=\"1319CS\" HouseNumber=\"105\" HouseNumberAddition=\"\
        None\" ApplicationName=\"PQCC\" Source=\"83.162.34.3\" QueryDate=\"2017-09-05T19:26:43.5268404+02:00\"\
        \ SharingPhonenumberToValidate=\"\" />\r\n  <Address PostalCode=\"1319CS\"\
        \ City=\"ALMERE\" HouseNumber=\"105\" HouseNumberAddition=\"None\" Street=\"\
        Boelijn\">\r\n    <PossibleHouseNumberAdditions>\r\n      <Addition />\r\n\
        \    </PossibleHouseNumberAdditions>\r\n  </Address>\r\n  <Cgb Name=\"Alr-Snp\"\
        \ LengthLastDistributor=\"831\" NetNumber=\"036\" LengthMdf=\"2960\" />\r\n\
        \  <DeliverableProducts>\r\n    <DeliverableProduct Network=\"Sni-F\" Technology=\"\
        Adsl2_Pots\" CanShare=\"Pots\" OrderableDownKbps=\"8000\" DistributionPoint=\"\
        Alr-Snp\" Tv=\"false\" OrderableUpKbps=\"1024\" />\r\n    <DeliverableProduct\
        \ Network=\"Sni-F\" Technology=\"Adsl2_Pots\" Dlm=\"Sc\" CanShare=\"Pots\"\
        \ ExpectedDownKbps=\"5000\" OrderableDownKbps=\"20000\" DistributionPoint=\"\
        Alr-Snp\" Tv=\"false\" OrderableUpKbps=\"1024\" />\r\n  </DeliverableProducts>\r\
        \n  <ExistingSituation FtuType=\"Unknown\">\r\n    <Remarks>\r\n      <Remark\
        \ RemarkCode=\"9076\" RemarkTextEng=\"No housenumber extension match (both\
        \ KANVAS or CENDRIS)\" RemarkTextNed=\"No housenumber extension match (both\
        \ KANVAS or CENDRIS)\" />\r\n    </Remarks>\r\n  </ExistingSituation>\r\n\
        \  <Errors />\r\n  <Distriadditions_v7butionPoints />\r\n</PqccResponse>"}
    headers:
      content-disposition: [attachment; filename=PQCC_1319CS105XNone.xml]
      content-type: [text/xml]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=105&postcode=1319CS
  response:
    body: {string: !!python/unicode '{"City":"ALMERE","v8":{"errors":null,"possible_house_number_additions":[],"total_aderparen":1,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","ExpectedUpKbps":"938","OrderableDownKbps":"20000","ExpectedDownKbps":"7313","DistributionPoint":"Alr-Snp-MDF","AccessArea":"AA/9","OrderableUpKbps":"1024","Tv":"true"},{"Network":"Sni-F","NlType":"6","Technology":"EoF","ExpectedUpKbps":"102400","OrderableDownKbps":"1000000","ExpectedDownKbps":"102400","AccessArea":"AA/9","OrderableUpKbps":"1000000","Tv":"true"},{"Network":"Sni-F","NlType":"6","Technology":"GoF","ExpectedUpKbps":"524000","OrderableDownKbps":"1000000","ExpectedDownKbps":"524000","AccessArea":"AA/9","OrderableUpKbps":"1000000","Tv":"true"}],"existing_situation_copper":{"SharedLine":"false","carrierstatus":"O","carrierVendorid":"MDF","Remarks":null,"coper_connectionpointinfo":{"cgb_name":"Alr-Snp","isra_specs":"001/B/MTK/METERKAST","number_of_nl1_lines":"1","number_of_nl2_lines":"1","copperconnection":{"current_typeofconnection":"MDF
        Broadband service","current_mdf_access_serviceid":null,"current_phonenumber":null,"future_typeofconnection":"No
        change","future_mdf_access_serviceid":null,"future_phonenumber":null}}},"address":{"PostalCode":"1319CS","City":"ALMERE","HouseNumber":"105","Street":"Boelijn","PossibleHouseNumberAdditions":{"Addition":null}},"remarks":null,"existing_situation_fiber":{"xsi:nil":"true"}},"PostalCode":"1319CS","remarks":[],"length_last_distributor":"831","name":"Alr-Snp","existing_dsl_service_id":"","HouseNumber_add":"","Street":"Boelijn","length_mdf":"2960","v8_debug":null,"additions_v7":[],"products":[{"orderable_down":"8000","expected_down":"-","network":"Sni-F","expected_up":"-","orderable_up":"1024","technology":"Adsl2_Pots"},{"orderable_down":"20000","expected_down":"5000","network":"Sni-F","expected_up":"-","orderable_up":"1024","technology":"Adsl2_Pots"},{"orderable_down":"1000000","expected_down":"-","network":"Sni-F","expected_up":"-","orderable_up":"1000000","technology":"GoF"}],"HouseNumber":"105"}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=44&postcode=1321HS
  response:
    body: {string: !!python/unicode '{"City":"ALMERE","v8":{"errors":null,"possible_house_number_additions":[],"total_aderparen":1,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","ExpectedUpKbps":"992","OrderableDownKbps":"20000","ExpectedDownKbps":"14577","DistributionPoint":"Alr-Shk-MDF","Access[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=14&postcode=3603AZ
  response:
    body: {string: !!python/unicode '{"City":"MAARSSEN","v8":{"errors":null,"possible_house_number_additions":[],"total_aderparen":3,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","ExpectedUpKbps":"992","OrderableDownKbps":"20000","ExpectedDownKbps":"15307","DistributionPoint":"Mas-MDF","AccessAr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=2260&postcode=1967DC
  response:
    body: {string: !!python/unicode '{"City":"HEEMSKERK","v8":{"errors":null,"possible_house_number_additions":[],"total_aderparen":6,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","ExpectedUpKbps":"992","OrderableDownKbps":"20000","ExpectedDownKbps":"7234","DistributionPoint":"Bv-N-SDF","Acces[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=136&postcode=3438LE
  response:
    body: {string: !!python/unicode '{"City":"NIEUWEGEIN","v8":{"errors":null,"possible_house_number_additions":[],"total_aderparen":1,"deliverable_product":{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","ExpectedUpKbps":"984","OrderableDownKbps":"20000","ExpectedDownKbps":"12148","DistributionPoint":"Niwg-N-MDF","AccessArea":"AA/120","OrderableUpKbps":"1024","Tv":"true"},"existing_situation_copper":{"SharedLine":"false","ExistingDslServiceId":"CDW34774","carrierstatus":"O","carrierVendorid":"MDF","Remarks":null,"coper_connectionpointinfo":{"cgb_name":"Niwg-N","isra_specs":"001/B/MTK/METERKAST","number_of_nl1_lines":"1","number_of_nl2_lines":"0","copperconnection":{"current_typeofconnection":"MDF
        Broadband service","current_mdf_access_serviceid":"CDW34774","current_phonenumber":null,"future_typeofconnection":"No
        change","future_mdf_access_serviceid":null,"future_phonenumber":null}}},"address":{"PostalCode":"3438LE","City":"NIEUWEGEIN","HouseNumber":"136","Street":"Moerashoeve","PossibleHouseNumberAdditions":{"Addition":null}},"remarks":{"RemarkCode":"9063","RemarkTextEng":"Broadband
        is already provisioned on this line","RemarkTextNed":"Broadband is already
        provisioned on this line"},"existing_situation_fiber":{"xsi:nil":"true"}},"PostalCode":"3438LE","remarks":[],"length_last_distributor":"10000","name":"Niwg-N","existing_dsl_service_id":"CDW34774","HouseNumber_add":"","Street":"Moerashoeve","length_mdf":"10000","v8_debug":null,"additions_v7":[],"products":[{"orderable_down":"6145","expected_down":"-","network":"Sni-F","expected_up":"-","orderable_up":"1025","technology":"Adsl2_Pots"},{"orderable_down":"20000","expected_down":"10000","network":"Sni-F","expected_up":"-","orderable_up":"1024","technology":"Adsl2_Pots"}],"HouseNumber":"136"}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=38&postcode=1716KE
  response:
    body: {string: !!python/unicode '{"City":"OPMEER","v8":{"errors":null,"possible_house_number_additions":[],"total_aderparen":0,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","ExpectedUpKbps":"992","OrderableDownKbps":"20000","ExpectedDownKbps":"14470","DistributionPoint":"Spk-MDF","AccessArea[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=121&postcode=1043EJ
  response:
    body: {string: !!python/unicode '{"City":"AMSTERDAM","v8":{"errors":null,"possible_house_number_additions":["12","1444","4DRV","55","77F","A","AA","AAA","ABC","C","CVZ","F","L","OOST","Q","S","TEST","WEST","Z"],"deliverable_product":null,"existing_situation_copper":{"carrierstatus":"O","carrierVendorid":"MDF","Remarks":null},"address":{"Pos[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=6&postcode=1311XB
  response:
    body: {string: !!python/unicode '{"City":"ALMERE","v8":{"errors":null,"possible_house_number_additions":[],"total_aderparen":30,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","ExpectedUpKbps":"992","OrderableDownKbps":"20000","ExpectedDownKbps":"13973","DistributionPoint":"Alr-Shk-MDF","Access[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=7&postcode=5061KK
  response:
    body: {string: !!python/unicode '{"City":"OISTERWIJK","v8":{"errors":null,"possible_house_number_additions":[],"total_aderparen":8,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","ExpectedUpKbps":"992","OrderableDownKbps":"20000","ExpectedDownKbps":"13387","DistributionPoint":"Otw-MDF","AccessA[...]
