interactions:
- request:
    body: !!python/unicode __LASTFOCUS=&__EVENTTARGET=&__EVENTARGUMENT=&__VIEWSTATE=%2FwEPDwULLTExNjY2MDU5OTEPZBYCAgMPZBYCAgEPFgIeCWlubmVyaHRtbAUcVmVyc2lvbiA3LjEsIHdvIDMwIG1ydCAyMDoxNGQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgIFCVNob3dEZWJ1ZwUYQ2hlY2tmb3JVcGdyYWRlRG93bkdyYWRlZVNj3if3ksPanMtefRi5u39liArL0lU%2BoHtdlESu%2B48%3D&__VIEWSTATEGENERATOR=D8B62B3A&__EVENTVALIDATION=%2FwEdAAj2nAj4MX3lEQSLACYzgWlf0b0eyTTkjCzPsTg5JLfwZsUDNj5QOq4YEpuBGehHFpvLpniq3TgasFKWFIJhOrFgpXyG7ZhawaLDBAmcXpjCGc6GJdK8E3%2FUNJjli%2FOuvtX5OTggoMzf3VFIsSmjz3zjXuK1xQRArSXfG0V278iMTLvv7nhEylN6mt2tBlYP9F4GPz4%2BoNvqMGxbc2jRNYYi&Postcode=1319CS&HouseNumber=105&Addition=&PhoneNumber=&ShowDebug=on&CheckButton=Check
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://pqcc.soap.dslorder.nl/pqcc/v7.0/pqcc.aspx
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\"?>\r\n<PqccResponseWithDebugInfo
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        WebServerName=\"NL-WEBFARM1\">\r\n  <Response>\r\n    <OriginalRequest PostalCode=\"1319CS\"
        HouseNumber=\"105\" ApplicationName=\"PQCC\" Source=\"80.101.234.92\" QueryDate=\"2016-10-06T21:02:30.9030628+02:00\"
        SharingPhonenumberToValidate=\"\" />\r\n    <Address PostalCode=\"1319CS\"
        City=\"ALMERE\" HouseNumber=\"105\" Street=\"Boelijn\">\r\n      <PossibleHouseNumberAdditions>\r\n
        \       <Addition />\r\n      </PossibleHouseNumberAdditions>\r\n    </Address>\r\n
        \   <Cgb Name=\"Alr-Snp\" LengthLastDistributor=\"831\" NetNumber=\"036\"
        LengthMdf=\"2960\" />\r\n    <DeliverableProducts>\r\n      <DeliverableProduct
        Network=\"Sni-F\" Technology=\"Adsl2_Pots\" CanShare=\"Pots\" OrderableDownKbps=\"8000\"
        DistributionPoint=\"Alr-Snp\" Tv=\"false\" OrderableUpKbps=\"1024\" />\r\n
        \     <DeliverableProduct Network=\"Sni-F\" Technology=\"Adsl2_Pots\" Dlm=\"Sc\"
        CanShare=\"Pots\" ExpectedDownKbps=\"12000\" OrderableDownKbps=\"20000\" DistributionPoint=\"Alr-Snp\"
        Tv=\"true\" OrderableUpKbps=\"1024\" />\r\n      <DeliverableProduct Network=\"Sni-F\"
        Technology=\"GoF\" NlType=\"6\" OrderableDownKbps=\"1000000\" DistributionPoint=\"Alrs-AAV/1\"
        Tv=\"true\" OrderableUpKbps=\"1000000\" />\r\n    </DeliverableProducts>\r\n
        \   <ExistingSituation FtuType=\"Unknown\">\r\n      <Remarks />\r\n    </ExistingSituation>\r\n
        \   <Errors />\r\n    <DistributionPoints />\r\n  </Response>\r\n  <DebugObjects>\r\n
        \   <DebugObject TypeName=\"OwnNetworkV7Result\">\r\n      <Object>\r\n        <row
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        Postcode=\"1319CS\" Huisnr=\"105\" ErrorCode=\"0\" Colo=\"Alr-Snp\" Street=\"Boelijn\"
        City=\"ALMERE\" QueryDate=\"2016-10-06T21:02:30.51\" Proceed=\"0\" Netnumber=\"036\"
        LengteCgb=\"2960\" LengteLaatsteVerdeler=\"831\">\r\n          <Additions>\r\n
        \           <Addition />\r\n          </Additions>\r\n        </row>\r\n      </Object>\r\n
        \   </DebugObject>\r\n    <DebugObject xsi:nil=\"true\" />\r\n    <DebugObject
        TypeName=\"BsaZipcodeResponse44\">\r\n      <Object>\r\n        <bsazipcodecheck
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \         <messageheader>\r\n            <originator>BUBN</originator>\r\n
        \           <recipient>BBRR</recipient>\r\n            <messagetype>ZIPCODE_CHECK</messagetype>\r\n
        \           <messageversion>44</messageversion>\r\n            <timestamp>20161006205618</timestamp>\r\n
        \         </messageheader>\r\n          <messagebody>\r\n            <portfolio-id>W-ADSL-ZF</portfolio-id>\r\n
        \           <enduserinfo>\r\n              <requested-housenumber>105</requested-housenumber>\r\n
        \             <requested-housenrext />\r\n              <requested-zipcode>1319CS</requested-zipcode>\r\n
        \           </enduserinfo>\r\n            <distributionpoint>\r\n              <distribution-point>Alrs-AAV/1</distribution-point>\r\n
        \             <distribution-point-vendor-id>BSA</distribution-point-vendor-id>\r\n
        \             <carrier-vendor-id>REGG</carrier-vendor-id>\r\n              <access-area-id>AA/9</access-area-id>\r\n
        \             <technologyavailability>\r\n                <technology-type>ADSL_ISDN</technology-type>\r\n
        \               <availability>C</availability>\r\n                <Plandate
        xsi:nil=\"true\" />\r\n              </technologyavailability>\r\n              <technologyavailability>\r\n
        \               <technology-type>ADSL_POTS</technology-type>\r\n                <availability>C</availability>\r\n
        \               <Plandate xsi:nil=\"true\" />\r\n              </technologyavailability>\r\n
        \             <technologyavailability>\r\n                <technology-type>ADSL2+_ISDN</technology-type>\r\n
        \               <availability>C</availability>\r\n                <Plandate
        xsi:nil=\"true\" />\r\n              </technologyavailability>\r\n              <technologyavailability>\r\n
        \               <technology-type>ADSL2+_POTS</technology-type>\r\n                <availability>C</availability>\r\n
        \               <Plandate xsi:nil=\"true\" />\r\n              </technologyavailability>\r\n
        \             <technologyavailability>\r\n                <technology-type>EoF</technology-type>\r\n
        \               <availability>O</availability>\r\n                <serviceable>Green</serviceable>\r\n
        \               <bandwidth-up>100000</bandwidth-up>\r\n                <bandwidth-down>100000</bandwidth-down>\r\n
        \               <min-bandwidth-up>100000</min-bandwidth-up>\r\n                <min-bandwidth-down>100000</min-bandwidth-down>\r\n
        \               <Plandate xsi:nil=\"true\" />\r\n              </technologyavailability>\r\n
        \             <technologyavailability>\r\n                <technology-type>GoF</technology-type>\r\n
        \               <availability>O</availability>\r\n                <serviceable>Green</serviceable>\r\n
        \               <bandwidth-up>1000000</bandwidth-up>\r\n                <bandwidth-down>1000000</bandwidth-down>\r\n
        \               <min-bandwidth-up>1000000</min-bandwidth-up>\r\n                <min-bandwidth-down>1000000</min-bandwidth-down>\r\n
        \               <Plandate xsi:nil=\"true\" />\r\n              </technologyavailability>\r\n
        \             <technologyavailability>\r\n                <technology-type>VDSL2</technology-type>\r\n
        \               <availability>C</availability>\r\n                <Plandate
        xsi:nil=\"true\" />\r\n              </technologyavailability>\r\n              <technologyavailability>\r\n
        \               <technology-type>VDSL2_POTS</technology-type>\r\n                <availability>C</availability>\r\n
        \               <Plandate xsi:nil=\"true\" />\r\n              </technologyavailability>\r\n
        \             <accessclassavailability>\r\n                <access-class>E2E</access-class>\r\n
        \               <availability>O</availability>\r\n                <plandate
        />\r\n              </accessclassavailability>\r\n              <accessclassavailability>\r\n
        \               <access-class>A2A</access-class>\r\n                <availability>C</availability>\r\n
        \               <plandate />\r\n              </accessclassavailability>\r\n
        \             <accessclassavailability>\r\n                <access-class>A2AE</access-class>\r\n
        \               <availability>C</availability>\r\n                <plandate
        />\r\n              </accessclassavailability>\r\n              <accessclassavailability>\r\n
        \               <access-class>A2E</access-class>\r\n                <availability>C</availability>\r\n
        \               <plandate />\r\n              </accessclassavailability>\r\n
        \             <accessclassavailability>\r\n                <access-class>A2Ei</access-class>\r\n
        \               <availability>C</availability>\r\n                <plandate
        />\r\n              </accessclassavailability>\r\n              <carriertypeavailability>\r\n
        \               <carrier-type>Copper_only</carrier-type>\r\n                <availability>C</availability>\r\n
        \             </carriertypeavailability>\r\n              <carriertypeavailability>\r\n
        \               <carrier-type>Copper_shared</carrier-type>\r\n                <availability>C</availability>\r\n
        \             </carriertypeavailability>\r\n              <carriertypeavailability>\r\n
        \               <carrier-type>Fiber</carrier-type>\r\n                <availability>O</availability>\r\n
        \               <nl-type>6</nl-type>\r\n              </carriertypeavailability>\r\n
        \           </distributionpoint>\r\n            <distributionpoint>\r\n              <distribution-point>Alr-Snp</distribution-point>\r\n
        \             <distribution-point-vendor-id>BSA</distribution-point-vendor-id>\r\n
        \             <carrier-vendor-id>MDF</carrier-vendor-id>\r\n              <access-area-id>AA/9</access-area-id>\r\n
        \             <technologyavailability>\r\n                <technology-t[...]
[...]
