interactions:
- request:
    body: !!python/unicode '__LASTFOCUS=&__EVENTTARGET=&__EVENTARGUMENT=&__VIEWSTATE=%2FwEPDwULLTExNjY2MDU5OTEPZBYCAgMPZBYCAgEPFgIeCWlubmVyaHRtbAUbVmVyc2lvbiA3LjEsIHdvIDUgb2t0IDEzOjU4ZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WAgUJU2hvd0RlYnVnBRhDaGVja2ZvclVwZ3JhZGVEb3duR3JhZGWHmNu%2BjXrKAYEYIA9prn3Fnlophs%2BUlokMw8wufv3DrQ%3D%3Da&__VIEWSTATEGENERATOR=D8B62B3A&__EVENTVALIDATION=%2FwEdAAjrN3gU8ioOa9SJJSNZYbFs0b0eyTTkjCzPsTg5JLfwZsUDNj5QOq4YEpuBGehHFpvLpniq3TgasFKWFIJhOrFgpXyG7ZhawaLDBAmcXpjCGc6GJdK8E3%2FUNJjli%2FOuvtX5OTggoMzf3VFIsSmjz3zjXuK1xQRArSXfG0V278iMTHU%2BeqJJ9dGP8YkqEUx3LBo4gi5O3k7kZxtSlB9XAttda&Postcode=1319CS&HouseNumber=105&Addition=None&PhoneNumber=&CheckButton=Check'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      housenumber: ['105']
      postcode: [1319CS]
    method: POST
    uri: https://pqcc.soap.dslorder.nl/pqcc/v7.0/pqcc.aspx
  response:
    body: {string: !!python/unicode "<!DOCTYPE html>\r\n<html>\r\n    <head>\r\n \
        \       <title>The state information is invalid for this page and might be\
        \ corrupted.</title>\r\n        <meta name=\"viewport\" content=\"width=device-width\"\
        \ />\r\n        <style>\r\n         body {font-family:\"Verdana\";font-weight:normal;font-size:\
        \ .7em;color:black;} \r\n         p {font-family:\"Verdana\";font-weight:normal;color:black;margin-top:\
        \ -5px}\r\n         b {font-family:\"Verdana\";font-weight:bold;color:black;margin-top:\
        \ -5px}\r\n         H1 { font-family:\"Verdana\";font-weight:normal;font-size:18pt;color:red\
        \ }\r\n         H2 { font-family:\"Verdana\";font-weight:normal;font-size:14pt;color:maroon\
        \ }\r\n         pre {font-family:\"Consolas\",\"Lucida Console\",Monospace;font-size:11pt;margin:0;padding:0.5em;line-height:14pt}\r\
        \n         .marker {font-weight: bold; color: black;text-decoration: none;}\r\
        \n         .version {color: gray;}\r\n         .error {margin-bottom: 10px;}\r\
        \n         .expandable { text-decoration:underline; font-weight:bold; color:navy;\
        \ cursor:hand; }\r\n         @media screen and (max-width: 639px) {\r\n  \
        \        pre { width: 440px; overflow: auto; white-space: pre-wrap; word-wrap:\
        \ break-word; }\r\n         }\r\n         @media screen and (max-width: 479px)\
        \ {\r\n          pre { width: 280px; }\r\n         }\r\n        </style>\r\
        \n    </head>\r\n\r\n    <body bgcolor=\"white\">\r\n\r\n            <span><H1>Server\
        \ Error in '/pqcc/V7.0' Application.<hr width=100% size=1 color=silver></H1>\r\
        \n\r\n            <h2> <i>The state information is invalid for this page and\
        \ might be corrupted.</i> </h2></span>\r\n\r\n            <font face=\"Arial,\
        \ Helvetica, Geneva, SunSans-Regular, sans-serif \">\r\n\r\n            <b>\
        \ Description: </b>An unhandled exception occurred during the execution of\
        \ the current web request. Please review the stack trace for more information\
        \ about the error and where it originated in the code.\r\n\r\n           \
        \ <br><br>\r\n\r\n            <b> Exception Details: </b>System.Web.HttpException:\
        \ The state information is invalid for this page and might be corrupted.<br><br>\r\
        \n\r\n            <b>Source Error:</b> <br><br>\r\n\r\n            <table\
        \ width=100% bgcolor=\"#ffffcc\">\r\n               <tr>\r\n             \
        \     <td>\r\n                      <code><pre>\r\n\r\n[No relevant source\
        \ lines]</pre></code>\r\n\r\n                  </td>\r\n               </tr>\r\
        \n            </table>\r\n\r\n            <br>\r\n\r\n            <b> Source\
        \ File: </b> c:\\Windows\\Microsoft.NET\\Framework64\\v4.0.30319\\Temporary\
        \ ASP.NET Files\\pqcc_v7.0\\730ed773\\767dd580\\App_Web_c0twrctn.0.cs<b> &nbsp;&nbsp;\
        \ Line: </b> 0\r\n            <br><br>\r\n\r\n            <b>Stack Trace:</b>\
        \ <br><br>\r\n\r\n            <table width=100% bgcolor=\"#ffffcc\">\r\n \
        \              <tr>\r\n                  <td>\r\n                      <code><pre>\r\
        \n\r\n[FormatException: The input is not a valid Base-64 string as it contains\
        \ a non-base 64 character, more than two padding characters, or an illegal\
        \ character among the padding characters. ]\r\n   System.Convert.FromBase64_Decode(Char*\
        \ startInputPtr, Int32 inputLength, Byte* startDestPtr, Int32 destLength)\
        \ +1395[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=105&postcode=1319CS
  response:
    body: {string: !!python/unicode '"Something went wrong - V7: 500 - V8: 500"'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=44&postcode=1321HS
  response:
    body: {string: !!python/unicode '"Something went wrong - V7: 500 - V8: 500"'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=14&postcode=3603AZ
  response:
    body: {string: !!python/unicode '"Something went wrong - V7: 500 - V8: 500"'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=2260&postcode=1967DC
  response:
    body: {string: !!python/unicode '"Something went wrong - V7: 500 - V8: 500"'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=136&postcode=3438LE
  response:
    body: {string: !!python/unicode '"Something went wrong - V7: 500 - V8: 500"'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=38&postcode=1716KE
  response:
    body: {string: !!python/unicode '"Something went wrong - V7: 500 - V8: 500"'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=121&postcode=1043EJ
  response:
    body: {string: !!python/unicode '"Something went wrong - V7: 500 - V8: 500"'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=6&postcode=1311XB
  response:
    body: {string: !!python/unicode '"Something went wrong - V7: 500 - V8: 500"'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:7777/dsl-info?housenumber_add=&housenumber=7&postcode=5061KK
  response:
    body: {string: !!python/unicode '"Something went wrong - V7: 500 - V8: 500"'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
