interactions:
- request:
    body: !!python/unicode __LASTFOCUS=&__EVENTTARGET=&__EVENTARGUMENT=&__VIEWSTATE=%2FwEPDwUKMTY5MDMxMTI0OA9kFgICAw9kFgICAQ8WAh4JaW5uZXJodG1sBRxWZXJzaW9uIDguMCwgZG8gMjkgc2VwIDE2OjA2ZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WBgUJU2hvd0RlYnVnBQ1Db3ZlcmFnZUNoZWNrBQZDb3BwZXIFBkNvcHBlcgUFRmliZXIFBUZpYmVyx%2FSCWkWumULXdMNfgH2cw6OsAKK7f06U%2B44tt%2Fs4x4A%3D&__VIEWSTATEGENERATOR=B1924A1F&__EVENTVALIDATION=%2FwEdAAs6WrwawrThm%2FaFDOevMDHJ0b0eyTTkjCzPsTg5JLfwZsUDNj5QOq4YEpuBGehHFpvLpniq3TgasFKWFIJhOrFgpXyG7ZhawaLDBAmcXpjCGdbaR3QYIdQewjwBNwryBZ7OhiXSvBN%2F1DSY5Yvzrr7V3Lv5JTeg%2F0NE43xycdCb3A1bcUvBC%2FDjM7XoxZNGXRRmRe0ZQOxzCQEP8H6dXYeVXuK1xQRArSXfG0V278iMTHUEHtK2RnmbXINT31CEf3BQ%2BWXx00gkNv914i%2FCKC%2Bn&PQCCType=Copper&Postcode=1311XB&HouseNumber=6&Addition=&PhoneNumber=&CheckButton=Check
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      housenumber: ['6']
      housenumber_add: ['']
      postcode: [1311XB]
    method: POST
    uri: https://pqcc.soap.dslorder.nl/pqcc/v8.0/pqcc.aspx
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\"?>\r\n<PqccResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <OriginalRequest
        PostalCode=\"1311XB\" HouseNumber=\"6\" ApplicationName=\"PQCC\" Source=\"80.101.234.92\"
        QueryDate=\"2017-01-09T18:05:03.8469242+01:00\" SharingPhonenumberToValidate=\"\"
        PQCCCheckType=\"Copper\" ConnectionPoint=\"\" />\r\n  <Address PostalCode=\"1311XB\"
        City=\"ALMERE\" HouseNumber=\"6\" Street=\"Wormerweg\">\r\n    <PossibleHouseNumberAdditions>\r\n
        \     <Addition />\r\n    </PossibleHouseNumberAdditions>\r\n  </Address>\r\n
        \ <Cgb Name=\"Alr-Shk\" LengthLastDistributor=\"389\" NetNumber=\"036\" LengthMdf=\"1382\"
        />\r\n  <DeliverableProducts>\r\n    <DeliverableProduct Network=\"Sni-F\"
        Dlm=\"Sc\" Technology=\"Adsl2_Pots\" CanShare=\"Pots\" OrderableDownKbps=\"20000\"
        ExpectedDownKbps=\"10000\" DistributionPoint=\"Alr-Shk\" AccessArea=\"AA/9\"
        OrderableUpKbps=\"1024\" Tv=\"true\" />\r\n    <DeliverableProduct Network=\"Sni-F\"
        Dlm=\"Sc\" Technology=\"Vdsl2_Pots\" CanShare=\"Pots\" OrderableDownKbps=\"50000\"
        ExpectedDownKbps=\"14000\" DistributionPoint=\"Alr-Shk\" AccessArea=\"AA/9\"
        OrderableUpKbps=\"5000\" Tv=\"true\" />\r\n  </DeliverableProducts>\r\n  <ExistingSituation>\r\n
        \   <ExistingSituationCopper carrierstatus=\"O\" carrierVendorid=\"MDF\">\r\n
        \     <Remarks />\r\n      <coper-connectionpointinfo>\r\n        <cgb-name>Alr-Shk</cgb-name>\r\n
        \       <isra-specs>001/B/COMP/COMPUTERRUIMTE</isra-specs>\r\n        <number-of-nl1-lines>30</number-of-nl1-lines>\r\n
        \       <number-of-nl2-lines>2</number-of-nl2-lines>\r\n        <copperconnection>\r\n
        \         <current-typeofconnection>Telephony service</current-typeofconnection>\r\n
        \         <current-mdf-access-serviceid />\r\n          <current-phonenumber>*******464</current-phonenumber>\r\n
        \         <future-typeofconnection>No change</future-typeofconnection>\r\n
        \         <future-mdf-access-serviceid />\r\n          <future-phonenumber
        />\r\n        </copperconnection>\r\n        <copperconnection>\r\n          <current-typeofconnection>Telephony
        service</current-typeofconnection>\r\n          <current-mdf-access-serviceid
        />\r\n          <current-phonenumber>*******003</current-phonenumber>\r\n
        \         <future-typeofconnection>No change</future-typeofconnection>\r\n
        \         <future-mdf-access-serviceid />\r\n          <future-phonenumber
        /[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:5555/dsl-info?housenumber_add=&housenumber=6&postcode=1311XB
  response:
    body: {string: !!python/unicode '{"City":"ALMERE","v8":{"errors":null,"total_aderparen":30,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","OrderableDownKbps":"20000","ExpectedDownKbps":"10000","DistributionPoint":"Alr-Shk","AccessArea":"AA/9","OrderableUpKbps":"1024","Tv":"true"},{"Network":"Sni-F","Dlm":"Sc","Technology":"Vdsl2_Pots","CanShare":"Pots","OrderableDownKbps":"50000","ExpectedDownKbps":"14000","DistributionPoint":"Alr-Shk","AccessArea":"AA/9","OrderableUpKbps":"5000","Tv":"true"}],"existing_situation_copper":{"carrierstatus":"O","carrierVendorid":"MDF","Remarks":null,"coper_connectionpointinfo":{"cgb_name":"Alr-Shk","isra_specs":"001/B/COMP/COMPUTERRUIMTE","number_of_nl1_lines":"30","number_of_nl2_lines":"2","copperconnection":[{"current_typeofconnection":"Telephony
        service","current_mdf_access_serviceid":null,"current_phonenumber":"*******464","future_typeofconnection":"No
        change","future_mdf_access_serviceid":null,"future_phonenumber":null},{"current_typeofconnection":"Telephony
        service","current_mdf_access_serviceid":null,"current_phonenumber":"*******003","future_typeofconnection":"No
        change","future_mdf_access_serviceid":null,"future_phonenumber":null},{"current_typeofconnection":"Telephony
        service","current_mdf_access_serviceid":null,"current_phonenumber":"*******201","future_typeofconnection":"No
        change","future_mdf_access_serviceid":null,"future_phonenumber":null},{"current_typeofconnecti[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:5555/dsl-info?housenumber_add=&housenumber=105&postcode=1319CS
  response:
    body: {string: !!python/unicode '{"City":"ALMERE","v8":{"errors":null,"total_aderparen":1,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","OrderableDownKbps":"20000","ExpectedDownKbps":"5000","DistributionPoint":"Alr-Snp","AccessArea":"AA/9","OrderableUpKbps":"1024","Tv":"false"},{"Network":"Sni-F","NlType":"6","Technology":"EoF","OrderableDownKbps":"100000","DistributionPoint":"Alrs-AAV/1","AccessArea":"AA/9","OrderableUpKbps":"100000","Tv":"true"},{"Network":"Sni-F","NlType":"6","Technology":"GoF","OrderableDownKbps":"1000000","DistributionPoint":"Alrs-AAV/1","AccessArea":"AA/9","OrderableUpKbps":"1000000","Tv":"true"}],"existing_situation_copper":{"SharedLine":"false","carrierstatus":"O","carrierVendorid":"MDF","Remarks":null,"coper_connectionpointinfo":{"cgb_name":"Alr-Snp","isra_specs":"001/B/MTK/METERKAST","number_of_nl1_lines":"1","number_of_nl2_lines":"1","copperconnection":{"current_typeofconnection":"MDF
        Broadband service","current_mdf_access_serviceid":null,"current_phonenumber":null,"future_typeofconnection":"No
        change","future_mdf_access_serviceid":null,"future_phonenumber":null}}},"address":{"PostalCode":"1319CS","City":"ALMERE","HouseNumber":"105","Street":"Boelijn","PossibleHouseNumberAdditions":{"Addition":null}},"remarks":null,"existing_situation_fiber":{"xsi:nil":"true"}},"PostalCode":"1319CS","remarks":[],"length_last_distributor":"831","name":"Alr-Snp","existing_dsl_service_id":"","HouseNumber_add":"","Street":"Boelijn","length_mdf":"2960","v8_debug":null,"products":[{"orderable_down":"8000","expected_down":"-","network":"Sni-F","expected_up":"-","orderable_up":"1024","technology":"Adsl2_Pots"},{"orderable_down":"20000","expected_down":"5000","network":"Sni-F","expected_up":"-","orderable_up":"1024","technology":"Adsl2_Pots"},{"orderable_down":"1000000","expected_down":"-","network":"Sni-F","expected_up":"-","orderable_up":"1000000","technology":"GoF"}],"HouseNumber":"105"}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:5555/dsl-info?housenumber_add=&housenumber=7&postcode=5061KK
  response:
    body: {string: !!python/unicode '{"City":"OISTERWIJK","v8":{"errors":null,"total_aderparen":8,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","OrderableDownKbps":"20000","ExpectedDownKbps":"8000","DistributionPoint":"Otw","AccessArea":"AA/156","OrderableUpKbps":"1024","Tv":"true"},{"Network":"S[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:5555/dsl-info?housenumber_add=&housenumber=71&postcode=2542AC
  response:
    body: {string: !!python/unicode '{"City":"''S-GRAVENHAGE","v8":{"errors":null,"total_aderparen":1,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","OrderableDownKbps":"20000","ExpectedDownKbps":"11000","DistributionPoint":"Gv-AKP","AccessArea":"AA/79","OrderableUpKbps":"1024","Tv":"true"},{"Network":"Sni-F","Dlm":"Sc","Technology":"Vvdsl2_Pots","CanShare":"Pots","OrderableDownKbps":"100000","ExpectedDownKbps":"60000","DistributionPoint":"Gv-AKP","AccessArea":"AA/79","OrderableUpKbps":"10000","Tv":"true"}],"existing_situation_copper":{"SharedLine":"false","ExistingDslServiceId":"CGH59664","carrierstatus":"O","carrierVendorid":"MDF","Remarks":null,"coper_connectionpointinfo":{"cgb_name":"Gv-Ecp","isra_specs":"001///","number_of_nl1_lines":"1","number_of_nl2_lines":"5","copperconnection":{"current_typeofconnection":"SDF
        Broadband service","current_mdf_access_serviceid":"CGH59664","current_phonenumber":null,"future_typeofconnection":"No
        change","future_mdf_access_serviceid":null,"future_phonenumber":null}}},"address":{"PostalCode":"2542AC","City":"''S-GRAVENHAGE","HouseNumber":"71","Street":"Steenhouwersgaarde","PossibleHouseNumberAdditions":{"Addition":null}},"remarks":{"RemarkCode":"9063","RemarkTextEng":"Broadband
        is already provisioned on this line","RemarkTextNed":"Broadband is already
        provisioned on this line"},"existing_situation_fiber":{"xsi:nil":"true"}},"PostalCode":"2542AC","remarks":[],"length_last_distributor":"500","name":"Gv-Ecp","existing_dsl_service_id":"CGH59664","HouseNumber_add":"","Street":"Steenhouwersgaarde","length_mdf":"2229","v8_debug":null,"products":[{"orderable_down":"20000","expected_down":"-","network":"Sni-F","expected_up":"-","orderable_up":"1024","technology":"Adsl2_Pots"},{"orderable_down":"20000","expected_down":"11000","network":"Sni-F","expected_up":"-","orderable_up":"1024","technology":"Adsl2_Pots"},{"orderable_down":"100000","expected_down":"60000","network":"Sni-F","expected_up":"-","orderable_up":"10000","technology":"Vvdsl2_Pots"}],"HouseNumber":"71"}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:5555/dsl-info?housenumber_add=&housenumber=3&postcode=5025RD
  response:
    body: {string: !!python/unicode '{"City":"TILBURG","v8":{"errors":null,"total_aderparen":6,"deliverable_product":[{"Network":"Sni-F","Dlm":"Sc","Technology":"Adsl2_Pots","CanShare":"Pots","OrderableDownKbps":"20000","ExpectedDownKbps":"13000","DistributionPoint":"Tb-ABX","AccessArea":"AA/157","OrderableUpKbps":"1024","Tv":"true"},{"Network":"[...]
