interactions:
- request:
    body: !!python/unicode __LASTFOCUS=&__EVENTTARGET=&__EVENTARGUMENT=&__VIEWSTATE=%2FwEPDwUKMTY5MDMxMTI0OA9kFgICAw9kFgYCAQ8WAh4JaW5uZXJodG1sBRtWZXJzaW9uIDguMCwgZGkgMiBhdWcgMTQ6MDZkAiMPEA8WAh4HQ2hlY2tlZGhkZGRkAiUPEA8WAh8BZ2RkZGQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgYFCVNob3dEZWJ1ZwUNQ292ZXJhZ2VDaGVjawUNQ292ZXJhZ2VDaGVjawUGQ29wcGVyBQVGaWJlcgUFRmliZXLCXAD8skR7qEMzVwU6VBqar%2BByHkBGmgPbpd2bMVxFpA%3D%3D&__VIEWSTATEGENERATOR=B1924A1F&__EVENTVALIDATION=%2FwEdAAuGe%2FadlIS%2Bo61SNKUam58F0b0eyTTkjCzPsTg5JLfwZsUDNj5QOq4YEpuBGehHFpvLpniq3TgasFKWFIJhOrFgpXyG7ZhawaLDBAmcXpjCGdbaR3QYIdQewjwBNwryBZ7OhiXSvBN%2F1DSY5Yvzrr7V3Lv5JTeg%2F0NE43xycdCb3A1bcUvBC%2FDjM7XoxZNGXRRmRe0ZQOxzCQEP8H6dXYeVXuK1xQRArSXfG0V278iMTKCiTUcHa3uoMGXc5DM6uM9lSaeoHOXMEt4rWuYWO5bD&PQCCType=Copper&Postcode=1319CS&HouseNumber=105&Addition=&PhoneNumber=&CheckButton=Check
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://pqcc.soap.dslorder.nl/pqcc/v8.0/pqcc.aspx
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\"?>\r\n<PqccResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <OriginalRequest
        PostalCode=\"1319CS\" HouseNumber=\"105\" ApplicationName=\"PQCC\" Source=\"80.101.234.92\"
        QueryDate=\"2016-10-06T21:02:43.3050846+02:00\" SharingPhonenumberToValidate=\"\"
        PQCCCheckType=\"Copper\" ConnectionPoint=\"\" />\r\n  <Address PostalCode=\"1319CS\"
        City=\"ALMERE\" HouseNumber=\"105\" Street=\"Boelijn\">\r\n    <PossibleHouseNumberAdditions>\r\n
        \     <Addition />\r\n    </PossibleHouseNumberAdditions>\r\n  </Address>\r\n
        \ <Cgb Name=\"Alr-Snp\" LengthLastDistributor=\"831\" NetNumber=\"036\" LengthMdf=\"2960\"
        />\r\n  <DeliverableProducts>\r\n    <DeliverableProduct Network=\"Sni-F\"
        Dlm=\"Sc\" Technology=\"Adsl2_Pots\" CanShare=\"Pots\" OrderableDownKbps=\"20000\"
        ExpectedDownKbps=\"12000\" DistributionPoint=\"Alr-Snp\" AccessArea=\"AA/9\"
        OrderableUpKbps=\"1024\" Tv=\"true\" />\r\n    <DeliverableProduct Network=\"Sni-F\"
        NlType=\"6\" Technology=\"EoF\" OrderableDownKbps=\"100000\" DistributionPoint=\"Alrs-AAV/1\"
        AccessArea=\"AA/9\" OrderableUpKbps=\"100000\" Tv=\"true\" />\r\n    <DeliverableProduct
        Network=\"Sni-F\" NlType=\"6\" Technology=\"GoF\" OrderableDownKbps=\"1000000\"
        DistributionPoint=\"Alrs-AAV/1\" AccessArea=\"AA/9\" OrderableUpKbps=\"1000000\"
        Tv=\"true\" />\r\n  </DeliverableProducts>\r\n  <ExistingSituation>\r\n    <ExistingSituationCopper
        SharedLine=\"false\" carrierstatus=\"O\" carrierVendorid=\"MDF\">\r\n      <Remarks
        />\r\n      <coper-connectionpointinfo>\r\n        <cgb-name>Alr-Snp</cgb-name>\r\n
        \       <isra-specs>001/B/MTK/METERKAST</isra-specs>\r\n        <number-of-nl1-lines>1</number-of-nl1-lines>\r\n
        \       <number-of-nl2-lines>1</number-of-nl2-lines>\r\n        <copperconnection>\r\n
        \         <current-typeofconnection>MDF Broadband service</current-typeofconnection>\r\n
        \         <current-mdf-access-serviceid />\r\n          <current-phonenumber
        />\r\n          <future-typeofconnection>No change</future-typeofconnection>\r\n
        \         <future-mdf-access-serviceid />\r\n          <future-phonenumber
        />\r\n        </copperconnection>\r\n      </coper-connectionpointinfo>\r\n
        \   </ExistingSituationCopper>\r\n    <ExistingSituationFiber xsi:nil=\"true\"
        />\r\n    <Remarks />\r\n  </ExistingSituation>\r\n  <Errors />\r\n  <DistributionPoints
        />\r\n</PqccResponse>"}
    headers:
      content-disposition: [attachment; filename=PQCC_1319CS105.xml]
      content-type: [text/xml]
    status: {code: 200, message: OK}
[...]
